@mixin row_flex($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin col_flex($justify) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: $justify;
}

@mixin btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: $purple;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    box-shadow: 0 0 10px 3px $purple_shaddow;
  }
}

@mixin dp {
  object-fit: cover;
  border: 8px solid $purple;
  height: 300px;
  width: 300px;
  z-index: 0;
  border-radius: 50%;
  &:hover {
    box-shadow: 0 0 10px 3px $purple_shaddow_dp;
  }
}
