@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  color: $white;
  // for header

  // for home section
  .home {
    @include col_flex(space-between);
    background-color: $dark_black;
    height: 100vh;
    padding: 0 70px;
    // for header
    .header {
      width: 100%;
      padding-top: 30px;
      @include row_flex(space-between);
      background-color: $dark_black;
      .h-title {
      }
      .h-links {
        @include row_flex(center);
        list-style: none;
        gap: 20px;
        .h-link {
          cursor: pointer;
          transition: 1.5s;
          padding: 5px 10px;
          border-radius: 10px;
          border: none;
          font-weight: bold;
          &:hover {
            color: $purple;
          }
        }
      }
    }

    // for home content
    .home-content {
      flex: 1;
      width: 100%;
      @include row_flex(space-between);
      // flex-wrap: wrap;
      .h-details {
        .h-social-links {
          .social-link {
            color: inherit;
            text-decoration: none;
            font-size: 20px;
            margin: 0 20px 0 0;
          }
        }
        .h-buttons {
          margin-top: 16px;
          .cv-btn {
            @include btn;
            margin-right: 20px;
          }
          .hire-btn {
            @include btn;
            margin-left: 20;
          }
        }
      }

      .h-dp-section {
        .h-dp-holder {
          .h-dp {
            height: 300px;
            width: 300px;
            object-fit: cover;
          }
        }
      }
    }
  }

  //   for about section
  .about {
    background-color: $light_black;
    height: 100vh;
    @include row_flex(start);
    padding: 0 70px;
    .a-dp-section {
      .a-dp-holder {
        .a-dp {
          height: 300px;
          width: 300px;
          object-fit: cover;
        }
      }
    }

    .a-details-section {
      flex-direction: 1;
      margin-left: 50px;
      .a-title {
        span {
          color: $purple;
        }
      }
      .a-read-more-btn {
        @include btn;
      }
    }
  }

  //   for services
  .services {
    background-color: $dark_black;
    height: 100vh;
    .s-title {
      text-align: center;
      padding-top: 20px;
      span {
        color: $purple;
      }
    }

    .all-services {
      flex: 1;
      .service {
        padding: 0 30px;
        height: 300px;
        margin: 100px 50px;
        text-align: center;
        background-color: $light_black;
        .service-icon {
          color: $purple;
          font-size: 40px;
          font-weight: bold;
          padding: 20px 0 10px 0;
        }
        h2 {
        }
        p {
          margin: 30px 0;
        }
        button {
          @include btn;
        }
      }
    }
  }

  //   for portfolio section
  .portfolio {
    background-color: $light_black;
    height: 100vh;
  }

  //for contacts
  .contact {
    background-color: $dark_black;
    height: 100vh;
  }

  //   for footer
  .footer {
    background-color: $light_black;
    padding: 100px;
  }
}
